<div class="cardsBody container d-flex flex-wrap align-content-start justify-content-center"> 
    <div class="card text-right" style="width: 18rem;">
      <h5 class="card-header text-center note-title">Una card de ejemplo</h5>
      <div class="card-body">
        <p class="card-body card-text text-left note-description">Esta es una bella card </p>
      </div>
      <div class="delete-button">
        <button type="button" id="cardDelete" class="btn btn-danger"
          id="deleteCardButton">
          <img src="./assets/img/delete.png" id="cardDeleteIcon" alt="Delete">
        </button>
      </div>
    </div>
  </div>
