<div class="card" style="width: 18rem">
  <div>    
    <img
      src="./assets/img/guilherme-hellwinkel-B9YoUi7RYiE-unsplash.jpg"
      class="card-img-top"
      alt="{{ note.city }}"
    />
  </div>
  <app-weather></app-weather>
  <div class="card-body">
    <h5 class="card-title title">{{ note.title }}</h5>
    <p class="card-text description text-truncate">{{ note.description }}</p>
    <p class="card-text text-left note-date">{{ note.date | date }}</p>
    <div class="delete-button">
      <span>
        <button href="#" class="btn btn-danger" id="cardDelete">
          <img src="./assets/img/delete.png" id="cardDeleteIcon" alt="Delete" />
        </button>
      </span>
    </div>
  </div>
</div>
